.nav-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 50px; /* Adjust width as needed */
    height: 50px; 
    background-color: rgb(61, 59, 59);
    border: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .nav-button.prev-arrow {
    margin-left: 0px;
    left: 0;
  }
  
  .nav-button.next-arrow {
    right: 0;
  }
  
  .arrow-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .left-arrow {
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
    /* transform: rotate(180deg); */
    margin-left: 0px;
  }
  
  .right-arrow {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent white;
  }
  
  /* Show buttons on hover */
  .nav-button:hover {
    opacity: 1;
  }
  
  .arroww{
    font-size: 24px; /* Adjust the font size as needed */
    margin-left: 10px; /* Adjust the spacing between text and arrow as needed */
    cursor: pointer;
  }